{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{.Values.appname}}-ingress
spec:
  ingressClassName: traefik
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{.Values.appname}}-service
                port:
                  number: 80
          - path: /test
            pathType: Prefix
            backend:
              service:
                name: nginx-p
                port:
                  number: 80
{{- end }}
  
